/**
  *	@name GoldenFlowers
  *	@author The Fallen Child#0076
  *	@version 1.0
  *	@description An undertale golden flower theme
  * @source https://github.com/DevEvil99/Ocean-Discord-Theme
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Ocean/Ocean.theme.css');

:root {
  --ocean-bg: url(https://media.tenor.com/VZMGMHTJsZwAAAAC/undertale-yellow-flowers.gi);
  --ocean-home-icon: url(https://w0.peakpx.com/wallpaper/442/70/HD-wallpaper-determination-chara-frisk-red-souls-undertale.jpg);
  --ocean-color1: #d5c000;
  --ocean-color2: #2b2606;
  --ocean-color3: #cfb026;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 100%;
  --watermark-filter-contrast: 200%;
  --ocean-emoji-picker-color: 150deg;
}

